@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 60%;
  max-width: calc(55em * 0.8);
  border: 1px solid black;
  border-radius: 0.25em;
  margin: 2em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  color: #fff;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.task {
  background-color: rgb(235, 235, 235);
  border-radius: 0.25em;
  padding: 0.5em 1em;
}

.task h3 {
  display: flex;
  justify-content: space-between;
}

.task.reminder {
  border-left: 3px solid green;
}
