@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 60%;
  max-width: calc(55em * 0.8);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0.5em;
  margin: 2em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 2em;
}

.header button {
  color: #fff;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.task {
  background-color: rgb(235, 235, 235);
  border-radius: 0.25em;
  padding: 0.5em 1em;
}

.task h3 {
  display: flex;
  justify-content: space-between;
}

.task.reminder {
  border-left: 5px solid green;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

form label {
  font-weight: 600;
}

form input[type="text"] {
  padding: 0.5em;
}

.checkbox-section {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.submit-btn {
  background-color: black;
  color: white;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
}

.submit-btn.disabled {
  background-color: rgb(235, 235, 235);
  color: rgb(102, 102, 102);
}

.error-message {
  color: red;
  display: flex;
  align-items: flex-start;
  gap: 0.3em;
}
